body{
    background-color: white;
}
/* customizing the navbar */
.navbar{
    color: white;
    background-color: #F44336;
}
.navbar-brand{
    color: #ffffff;
}
.nav-link {
    color: white !important;
}
.navbar-toggler{
    color: white;
}
.nav-link:hover{
    background-color: grey;
    border-radius: 20px;
}
/* fullsceen the row */
.col-md-2{
}
/* background of image */
.col-md-2 .pic{
}
/* positioning the image */
.col-md-2 img{
    margin-top:20px;
    margin-right: 20px;
    width: 100%;
    object-fit: fill;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* background of details */
.row .col-md-10{
    padding: 0px;
    position:relative;
}
/* background of perosnal details */
.row .col-md-10 .personal
{ 
    font-family: sans-serif;
    padding:10px;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom:5px;
    border-radius: 0px 0px 0px 15px;
}
/* background of academic details */
.row .col-md-10 .academic
{
    font-family: sans-serif;
    padding:10px;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px 0px 0px 15px;
}
/* background of status */
.row .col-md-10 .status
{
    font-family: sans-serif;
    padding:10px;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px 0px 0px 15px;
}
/* hr below headings */
.personal hr,.academic hr{
    width:500px;
    border: 1px solid #F44336;
}