<html>

<head>
    <title>BSC IT</title>
    {% load static %}
    <meta charset="UTF-8">
    <title>Student Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/bsc_it.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">Jorhat Institute Of Science And Technology</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto ">
                <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Departments
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/bsc/">BSc</a>
            <a class="dropdown-item" href="/bscit/">BSc IT</a>
            <a class="dropdown-item" href="/engg/">Engineering</a>
            <a class="dropdown-item" href="/msc/">MSc</a>
          </div>
        </div>
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/feedback/">Feedback<span class="sr-only"></span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="About-section">
        <h3>About Department</h3>
        <hr align="left">
        <p>
            The Computer Science and IT department was introduced in the year 2007,
            with a three year professional course in B.Sc. (IT) affiliated to
            Dibrugarh University with an aim to expand the Institute and as well
            impart professional education to the students of the locality. The
            course is the most upto-date one. The department also impart courses
            in other B.Sc. and Engineering Departments. Almost, all out going
            students are either employed in many reputated MNCs and in Govt.
            Institutions/Govt. Undertakings, besides doing higher studies.
        </p>
        <h3>Computer Science and Information Technology Faculties</h3>
        <hr align="left">
    </div>
    <div class="faculties-details">
        <div class="row">
            <div class="col-md-6">
                <p><label>1. Name:</label> Mr. Jameson Mushahary</p>
                <p><label>&nbsp;&nbsp;Qualification:</label> MCA</p>
                <p><label>&nbsp;&nbsp;Designation:</label> Asstt. Prof. &amp; HoD </p>
                <p><label>&nbsp;&nbsp;E-mail Id:</label> <a
                        href="mailto:jameson.mush@gmail.com">jameson.mush@gmail.com</a></p>
                <p><label>&nbsp;&nbsp;Contact number:</label> 9954166745 (m)</p>

            </div>
            <div class="col-md-6 text-left">
                <img src="{% static 'images/jm.png' %}" alt="faculty-image">
            </div>
        </div>
        <hr>
        
    </div>

    <div class="faculties-details">
        <div class="row">
            <div class="col-md-6">
                <p><label>2. Name:</label> Mrs. Bobita Dutta</p>
                <p><label>&nbsp;&nbsp;Qualification:</label> M.Sc., MPhil.</p>
                <p><label>&nbsp;&nbsp;Designation:</label> Asstt. Prof.(Permanent Contractual)</p>
                <p><label>&nbsp;&nbsp;E-mail Id:</label> <a
                        href="mailto:bobitaduttajrt@gmail.com">bobitaduttajrt@gmail.com</a></p>
                <p><label>&nbsp;&nbsp;Contact number:</label> 9085066999</p>
            </div>
            <div class="col-md-6 text-left">
                <img src="{% static 'images/bobita.png' %}" alt="faculty-image">
            </div>
        </div>

        <hr>
      
    </div>
    <div class="faculties-details">
        <div class="row">
            <div class="col-md-6">
                <p><label>3. Name:</label> Mr. Rajiv Kalita</p>
                <p><label>&nbsp;&nbsp;Qualification:</label> M.C.A</p>
                <p><label>&nbsp;&nbsp;Designation:</label> Asstt. Prof.(Permanent Contractual)</p>
                <p><label>&nbsp;&nbsp;E-mail Id:</label> <a href="mailto:rajivjec@gmail.com">rajivjec@gmail.com</a></p>
                <p><label>&nbsp;&nbsp;Contact number:</label> 9957212166</p>
            </div>
            <div class="col-md-6 text-left">
                <img src="{% static 'images/rk.png' %}" alt="faculty-image">
            </div>
        </div>

        <hr>
        
    </div>
    <div class="faculties-details">
        <div class="row">
            <div class="col-md-6">
                <p><label>4. Name:</label> Miss Himadri Neog</p>
                <p><label>&nbsp;&nbsp;Qualification:</label> MCA</p>
                <p><label>&nbsp;&nbsp;Designation:</label> Asstt. Prof.(Contractual)</p>
                <p><label>&nbsp;&nbsp;E-mail Id:</label> <a href=""> </a></p>
                <p><label>&nbsp;&nbsp;Contact number:</label> 8876434892</p>
            </div>
            <div class="col-md-6 text-left">
                <img src="{% static 'images/hn.jpg' %}" width="119px" height="151px" alt="">
            </div>
        </div>

        <hr>
       
    </div>
    <div class="faculties-details">
        <div class="row">
            <div class="col-md-6">
                <p>
                    <label>5. Name:</label>
                    Mr. Hsuvash Borkakoty </p>
                <p><label>&nbsp;&nbsp;Qualification:</label> MSc (IT)
                </p>
                <p><label>&nbsp;&nbsp;Designation:</label> Asstt. Prof.(Contractual)</p>
                <p><label>&nbsp;&nbsp;E-mail Id:</label>
                </p>
                <p><label>&nbsp;&nbsp;Contact number:</label>7002779452</p>
            </div>
            <div class="col-md-6 text-left">
                <img src="{% static 'images/hb.jpg' %}" width="119px" height="151px" alt="">
            </div>
        </div>
    </div>
</div>
</body>

</html>