<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>NoticeBoard</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
</head>
<body>
 <div class="blink"><span>Notice Board</span>
 </div>
 <div class="notifications">
 	<ul>
 	<li><a href="#">Notification regarding workshop on Machine learning</a>
 	<p>Posted 31 Oct 2019<p></li>
 		<li><a href="#">Tender Invitation for supply of Desks</a>
 	<p>Posted 23 Oct 2019<p></li>
 		<li><a href="#">Examination results declared for MSc Physics 4th Sem</a>
 	<p>Posted 10 Oct 2019<p></li>
 		<li><a href="#">Results for the post of Library Assistant recruitment held on 7th October,2019</a>
 	<p>Posted 10 Oct 2019<p></li>
 		<li><a href="#">Issue of new library card going on in office</a>
 	<p>Posted 3 September 2019<p></li>
 		<li><a href="#">Recruitment for the post of Library Assistant on 7th October 2019</a>
 	<p>Posted 19 August 2019<p></li>
 		<li><a href="#">Admission results declared for Masters in Chemistry</a>
 	<p>Posted 4 August 2019<p></li>
 	</ul>
 </div>
</body>
</html>